<header class="Header CoverImage" style="background-image: url(/assets/build/img/gravitas-sage.jpg)">
    <div class="Container">
        <nav class="Header-nav">
            <div class="Header-logo">
                <a href="/"><img src="/assets/build/img/gravitas-logo.svg" alt=" {{site.title}} "></a>
            </div>

            <ul class="Header-menu">
                <li><a href="#what">What we do</a></li>
                <li><a href="#about">About us</a></li>
                <li><a class="u-linkInvisible" href="tel:+610-402-318-973">Call 0402 318 973</a></li>
                <!-- {% for page in site.pages %}
                <li><a href="{{page.url}}" {% if page.url==u rl %} class="is-current-page" {% endif %}>{{page.title}}</a></li>
                {% endfor %} -->
            </ul>
        </nav>

        <section class="Header-directive u-before1of12 u-size7of12">
            <h1 class="">your sustainable energy partner.</h1>
            <p>
                <span>Switch to sustainable energy, with no upfront costs.</span> Our experts navigate the market and crunch the numbers, so you come out on top.
            </p>
            <p class="u-textCenter u-marginT">
                <a class="Button Button--rev" href="#contact">Get Started<i class="Arrow-right"></i></a>
            </p>
        </section>

    </div>
</header>
